div {
  color: blue;
  background-color: aquamarine;
}

#userId {
  color: brown;
  background-color: burlywood;
}

.head {
  color: blue;
  border-left: 5px solid blue;
  background-color: rgb(218, 250, 211);
}
